.gallery {
    overflow: hidden;   
    &__container {
        position: relative;
        width: 100%;
    }
    &__wrapper {
        display: flex;
        position: relative;
        left: 0;
        &:not(.resizing) {
            transition: left 0.5s;
        }
    }
    &__paused {
        animation: seconds 2s forwards;
        animation-iteration-count: 1;
        animation-delay: 1s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        opacity: 0.5;
        &:before, &:after {
            content: "";
            position: absolute;
            display: block;
            top: 10px;
            left: 10px;
            height: 30px;
            width: 12px;
            background-color: #FFF;
        }
        &:after {
            right: 10px;
            left: auto;
        }
    }
    &__prev, &__next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0.5;
        &:before {
            content: "";
            width: 0; 
            height: 0; 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__prev {
        left: 0;
        &:before {
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid #FFF;
        }
    }
    &__next {
        right: 0;
        &:before {
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid #FFF;
        }
    }
}

@keyframes seconds {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
    left: auto;
  }
  100% {
    opacity: 0;
    left: -9999%;
  }
}